@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap");
header {
  padding: 1em;
}
.header-wrapper {
  width: 100%;
  height: 100%;
}
.title-header {
  display: inline-block;
  width: 25%;
  height: 100%;
}
.title {
  font-size: 2.5em;
  font-family: "Libre Baskerville", serif;
  padding: 0em;
  color: darkgrey;
}
.nav-container {
  width: 75%;
  height: 100%;
  float: right;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  padding: 1em;
}
nav a {
  width: 100%;
  height: 100%;
  padding: 2.5em;
}
nav a:link {
  color: darkgrey;
}

nav a:hover {
  color: purple;
}
nav a:visited {
  color: plum;
}
nav a:active {
  color: purple;
}

.site-contents {
  clear: both;
}
.card-img {
  max-height: 35em;
  max-width: 80em;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-color: none;
}
.card-img-overlay {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
  text-align: center;
}
.card-title {
  margin-top: 38%;
}
#page-title {
  font-size: 2em;
  font-family: "Libre Baskerville", serif;
  margin-top: 1em;
  margin-left: 1em;
  color: darkgrey;
}
.container {
  display: flex;
  width: 100%;
  padding: 2em;
}

#left-title-about {
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
#right-text-workshop {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  color: darkgrey;
}
#left-title-info {
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
#right-text-where {
  width: 75%;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: darkgrey;
}
h4 {
  font-family: "Montserrat", sans-serif;
  color: darkgrey;
}

.footer-bar {
  clear: both;
  background-color: darkgrey;
  text-align: center;
}
.footer-title {
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 1em;
}
.footer-text {
  padding: 3em;
  color: darkgrey;
}
footer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 5px;
  text-align: center;
}

h6 {
  display: inline;
  font-family: "Montserrat", sans-serif;
  padding: 0.5em;
}
#register {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
#bottom-nav {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: darkgrey;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
}

nav a {
  width: 100%;
  height: 100%;
  padding: 2.5em;
}

nav a:hover {
  color: purple;
}
nav a:visited {
  color: plum;
}
nav a:active {
  color: purple;
}
